.toggle-page {
	min-width: 20rem;
	min-height: 30rem;
	padding: 4rem;
	background-color: red;
	display: none;

	//position center;
	top: 110%;
	left: 50%;
	transform: translate(-50%, 0);

	&.open {
		position: absolute;
		display: block;
	}

}


//global styles
